@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-family: Roboto;
  
}

:root {
  --blue-color: #1166dd;
  --gray-color: #f1f1f1;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p,
span,
a {
  font-size: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}

.svg {
  height: 4vh;
}

.topbar {
  height: 15vh;
  padding-top: 3vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  justify-content: space-around;
}

.logo {
  height: 60%;
}

.searchbar {
  width: 35%;
  height: 40%;
  display: grid;
  grid-template-columns: 1fr 8%;
  grid-auto-rows: 1fr;
}

.searchbar > input {
  grid-column: 1/2;
  border-radius: 0.5vh;
  border-right: none;
  border: 0.3vh solid var(--blue-color);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.searchbar > button {
  grid-column: 2/4;
  background-color: var(--blue-color);
  box-shadow: none;
  border: 0.3vh solid var(--blue-color);
  border-radius: 0.5vh;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


.account {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#account-svg {
  grid-column: 1/2;
  grid-row: 1 / 4;
  justify-self: end;
  padding-right: 1.5vh;
}

#login > a {
  font-weight: normal;
}

#accorders {
  grid-column: 2/4;
  grid-row: 2;
}

#shoppingcart-svg {
  grid-column: 3/5;
  grid-row: 1/4;
  justify-self: center;
}

.bottombar > ul {
  background-color: var(--blue-color);
  padding-right: 15vh;
  padding-left: 15vh;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-around;
  color: white;
}

.main-menu{
  padding-right: 22vh;
  padding-left: 22vh;
  height: 65vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 30%;
  justify-content: center;
  gap: 1.5vh;
}

.products{
  grid-row: 1/3;
  grid-column: 1;
  height: 100%;
  background-color: var(--gray-color);
}

.products > nav{
  height: 100%;
}

.products > nav > ul{
  display: grid;
  grid-template-rows: repeat(16, 1fr); 
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
}
.products > nav > ul > :last-child{
  padding-top: 2vh;
  color: var(--blue-color);
}

.advert{
  grid-column: 2/6;
  grid-row: 0;
  overflow: hidden;
}

.advert > img{
  width: 100%;
  height: 100%;
}
